*{
  background-color: cadetblue;
}
.box{
  border: 1px solid black;
  height: 50px;
  width: 300px;
  margin: 1px;
}
.one{
  background-color: red;
}
.two{
  background-color: whitesmoke;
}
.three{
  background-color: green;
}

div{
  display: flex;
  align-items: center;
  flex-direction: column;
}